body {
  color: antiquewhite !important;
  background-color: #000000 !important;
  /* position: relative; */
  margin: 0 !important;
  /* overflow: hidden; */
}



.nav {
  color: #00a99d !important;
  font-family: inherit;
  font-size: 25px;
  font-weight: bolder;
}

.navbar {
  margin-top: 0px;
  width: 100%;
  z-index: 99999;
  position: fixed !important;
  top: 0;
  background-color: black !important;
  box-shadow: rgb(0, 169, 157) 0px -4px 0px, rgb(0, 169, 157) 0px -5px 67px,
    rgb(0, 169, 157) 0px 0px 0px, rgb(0, 169, 157) 0px 6px 7px,
    rgb(0, 169, 157) 0px 0px 0px;
}

.nav-link {
  color: antiquewhite !important;
  font-family: cursive;
  font-size: 25px;
}

.nav-link:hover {
  color: #00a99d !important;
}

.top-heading {
  text-align: center;
  color: #00a99d;
  margin-top: 100px !important;
}

.detail-pra {
  font-weight: bolder;
}

.about-me-main {
  display: flex;
}

.about-ani {
  width: 50%;
}

.about-text {
  width: 50%;
  margin-top: 15%;
}

.name {
  color: #00a99d;
}

@media only screen and (max-width: 992px) {
  .about-me-main {
    display: flex;
    flex-direction: column;
  }

  .about-text {
    width: 100%;
  }

  .about-ani {
    width: 100%;
  }
}

/* * progress bar style */

.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2-html {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-html .progress-bar2-html {
  width: 85%;
  background-color: #00a99d;
  animation: progressAnimationHtml 6s;
}

@keyframes progressAnimationHtml {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }

  100% {
    width: 85%;
    background-color: #00a99d;
  }
}

.progress-bar2-boot {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-boot .progress-bar2-boot {
  width: 80%;
  background-color: #00a99d;
  animation: progressAnimationBoot 6s;
}

@keyframes progressAnimationBoot {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }

  100% {
    width: 80%;
    background-color: #00a99d;
  }
}

.progress-bar2-java {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-java .progress-bar2-java {
  width: 70%;
  background-color: #00a99d;
  animation: progressAnimationJava 6s;
}

@keyframes progressAnimationJava {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }

  100% {
    width: 70%;
    background-color: #00a99d;
  }
}

.progress-bar2-firebase {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-firebase .progress-bar2-firebase {
  width: 75%;
  background-color: #00a99d;
  animation: progressAnimationFirebase 6s;
}

@keyframes progressAnimationFirebase {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }

  100% {
    width: 75%;
    background-color: #00a99d;
  }
}

.progress-bar2-react {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-react .progress-bar2-react {
  width: 80%;
  background-color: #00a99d;
  animation: progressAnimationReact 6s;
}

@keyframes progressAnimationReact {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }

  100% {
    width: 80%;
    background-color: #00a99d;
  }
}

/* progress bar style */

.resume-main {
  display: flex;
}

.resume-pic {
  width: 50%;
}

.resume-btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Resume btn style  */
.btn {
  text-align: center;
  align-items: center;
  width: 46%;
  height: 60px;
  background-color: #00a99d !important;
  /* background: linear-gradient(to top, #00154c, #12376e, #23487f); */
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 169, 158, 0.37);
  overflow: hidden;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  font-weight: bolder;
  color: antiquewhite;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  font-weight: bolder;
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}



@media only screen and (max-width: 425px) {
  .resume-main {
    display: flex;
    flex-direction: column;
  }

  .resume-pic {
    width: 100%;
  }

  .resume-btn {
    width: 100%;
  }

  .nav {
    font-size: 15px !important;
  }
}

.card-img-top {
  opacity: 0.7;
}

.project-main {
  margin-top: 7%;
}

.card {
  transition: transform 0.5s;
}

.card:hover {
  box-shadow: rgb(0, 169, 158) 0px 5px 15px;
  box-shadow: rgba(0, 169, 158) 0px 30px 60px -12px, rgba(0, 169, 158, 0.267) 0px 18px 36px -18px;
  transform: scale(0.9) !important;
}

.icon {
  height: 40px;
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-links .link {
  padding: 2rem 10px;
}

.social-links .link a {
  color: rgb(0, 168, 157);

}

.link {
  font-size: xx-large;
}

.social-links .link a:hover {
  color: rgb(255, 8, 0);
}

hr {
  color: #00a99d !important;
  height: 2px !important;
  background-color: #00a99d;
  box-shadow: rgb(0, 168, 157) 0px 2px 8px 0px;
}

.footer-heading {
  text-align: center;
  color: #00a99d;
}

.footer {
  margin-top: 20%;
  height: 10px;
}

.email {
  font-weight: 200;
  text-align: center;
  color: #00a99d;
}

.email:hover {
  color: rgb(255, 8, 0);
}