* {
  background-color: black;
}
body{
  color: antiquewhite !important;
  background-color: black !important;
}
.nav {
  color: #00a99d !important;
  font-family: cursive;
  font-size: 25px;
}
.navbar {
  background-color: black !important;
  box-shadow: rgb(0, 169, 157) 0px -4px 0px, rgb(0, 169, 157) 0px -5px 67px,
    rgb(0, 169, 157) 0px 0px 0px, rgb(0, 169, 157) 0px 6px 7px,
    rgb(0, 169, 157) 0px 0px 0px;
    
}
.nav-link{
    color: antiquewhite !important;
    font-family: cursive;
    font-size: 25px;
}
.nav-li{
   margin-left: 700px;
}
.top-heading{
  text-align: center;
  color: #00a99d;
  margin-top: 50px;
}
.detail-pra{
  font-weight: bolder;
}
.about-me-main{
  display: flex;

}
.about-ani{
  width: 50%;
}
.about-text{
  width: 50%;
  margin-top: 150px;
}
.name{
  color: #00a99d;
}































